TIBCO Business Studio-Cloud Edition/Sample for Amazon SNS/SNSTCI/SNSImpl/Schemas/SNSSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1471414125352" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1471414125352">
 
  
          	     <xs:complexType name="AWSAccountIdsType">   	
    	        
    	        <xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="1" name="member" type="xs:string"/>
    	            	
    	            	</xs:sequence>
    	            	</xs:complexType>
                 
               <xs:element name="aWSAccountIds" type="tns:AWSAccountIdsType"/>
               
                 	     <xs:complexType name="ActionsType">   	
                 	     
                 	       	        <xs:sequence>
    	       
    		<xs:element maxOccurs="unbounded" minOccurs="1" name="member">
    			 <xs:simpleType>
    			 	<xs:restriction base="xs:string">


    			 		<xs:enumeration value="AddPermission"/>
    			 		<xs:enumeration value="CheckIfPhoneNumberIsOptedOut">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="ConfirmSubscription"/>
    			 		<xs:enumeration value="CreatePlatformApplication">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="CreatePlatformEndpoint">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="CreateTopic"/>
    			 		<xs:enumeration value="DeleteEndpoint"/>
    			 		<xs:enumeration value="DeletePlatformApplication">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="DeleteTopic"/>
    			 		<xs:enumeration value="GetEndpointAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="GetPlatformApplicationAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="GetSMSAttributes"/>
    			 		<xs:enumeration value="GetSubscriptionAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="GetTopicAttributes"/>
    			 		<xs:enumeration value="ListEndpointsByPlatformApplication">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="ListPhoneNumbersOptedOut">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="ListPlatformApplications">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="ListSubscriptions"/>
    			 		<xs:enumeration value="ListSubscriptionsByTopic">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="ListTopics"/>
    			 		<xs:enumeration value="OptInPhoneNumber"/>
    			 		<xs:enumeration value="Publish"/>
    			 		<xs:enumeration value="RemovePermission"/>
    			 		<xs:enumeration value="SetEndpointAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="SetPlatformApplicationAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="SetSMSAttributes"/>
    			 		<xs:enumeration value="SetSubscriptionAttributes">
    			 		</xs:enumeration>
    			 		<xs:enumeration value="SetTopicAttributes"/>
    			 		<xs:enumeration value="Subscribe"/>
    			 		<xs:enumeration value="Unsubscribe"/>
    			 	</xs:restriction>
    			 </xs:simpleType>
    		</xs:element>
    		

    	            	</xs:sequence>
             </xs:complexType>   
  
  <xs:element name="actions" type="tns:ActionsType"/>
   <xs:element name="AddPermissionRequest">
     <xs:complexType>   	
    	<xs:sequence>

     		<xs:element minOccurs="1" name="AWSAccountIds" type="tns:AWSAccountIdsType"/>
     		
 	      		<xs:element minOccurs="1" name="Actions" type="tns:ActionsType"/>
 		    	
     		<xs:element maxOccurs="1" minOccurs="1" name="Label" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="AddPermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

     <xs:element name="CheckIfPhoneNumberIsOptedOutRequest">
     <xs:complexType>   	
    	<xs:sequence>

     		<xs:element maxOccurs="1" minOccurs="1" name="PhoneNumber" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>

<xs:element name="CheckIfPhoneNumberIsOptedOutResponse">
    <xs:complexType>
      <xs:sequence>
              <xs:element name="checkIfPhoneNumberIsOptedOutResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="isOptedOut" type="xs:boolean"/>
                <xs:element name="optedOut" type="xs:boolean"/>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
    
       <xs:element name="ConfirmSubscriptionRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="0" name="AuthenticateOnUnsubscribe" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="1" name="Token" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="ConfirmSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="confirmSubscriptionResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subscriptionArn" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
      		 <xs:complexType name="PlaformAttributeType">
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="PlatformCredential" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PlatformPrincipal" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointCreated" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointDeleted" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointUpdated" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventDeliveryFailure" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="SuccessFeedbackRoleArn" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="FailureFeedbackRoleArn" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="SuccessFeedbackSampleRate" type="xs:string"/>
  
            </xs:sequence>
          </xs:complexType>
          
             		<xs:element name="PlatformAttributes" type="tns:PlaformAttributeType"/>
          
         <xs:element name="CreatePlatformApplicationRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Attributes" type="tns:PlaformAttributeType">

    		
    		</xs:element>
    		<xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="Platform" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="CreatePlatformApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createPlatformApplicationResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="platformApplicationArn" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
      		 <xs:complexType name="EndpointsAttributesType">
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="CustomUserData" type="xs:string" nillable="true" />
                <xs:element maxOccurs="1" minOccurs="0" name="Enabled" type="xs:string" nillable="true" />
                <xs:element maxOccurs="1" minOccurs="0" name="Token" type="xs:string" nillable="true" />
           </xs:sequence>
          </xs:complexType>
  
  <xs:element name="EndpointAttributes" type="tns:EndpointsAttributesType"/>
          <xs:element name="CreatePlatformEndpointRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="0" name="Attributes" nillable="true" type="tns:EndpointsAttributesType">

    		
    		</xs:element>
    		<xs:element maxOccurs="1" minOccurs="0" name="CustomUserData" nillable="true" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="PlatformApplicationArn" type="xs:string"/>
      		<xs:element maxOccurs="1" minOccurs="1" name="Token" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  
  <xs:element name="CreatePlatformEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createPlatformEndpointResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="endpointArn" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
  
     <xs:element name="CreateTopicRequest">
     <xs:complexType>  	
    	<xs:sequence>

    		<xs:element maxOccurs="1" minOccurs="1" name="Name" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
    
    <xs:element name="CreateTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createTopicResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="topicArn" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
    <xs:element name="DeleteEndpointRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="EndpointArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  
  <xs:element name="DeleteEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
 
    <xs:element name="DeletePlatformApplicationRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="PlatformApplicationArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="DeletePlatformApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
     <xs:element name="DeleteTopicRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="DeleteTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
      <xs:element name="GetEndpointAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="EndpointArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  
  <xs:element name="GetEndpointAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getEndpointAttributesResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
        <xs:element name="GetPlatformApplicationAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="PlatformApplicationArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  
  <xs:element name="GetPlatformApplicationAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getPlatformApplicationAttributesResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="key" type="xs:string"/>
                          <xs:element name="value" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
      		 <xs:complexType name="SMSAttributesType">
            <xs:sequence>
 		<xs:element maxOccurs="unbounded" minOccurs="1" name="attributeName">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="ApproximateNumberOfMessages">
    					</xs:enumeration>

    					
    					<xs:enumeration value="MonthlySpendLimit"/>
    					<xs:enumeration value="DeliveryStatusIAMRole"/>
    					<xs:enumeration value="DeliveryStatusSuccessSamplingRate">
    					</xs:enumeration>
    					<xs:enumeration value="DefaultSenderID"/>
    					<xs:enumeration value="DefaultSMSType"/>
    					<xs:enumeration value="UsageReportS3Bucket"/>
    			</xs:restriction>
    			</xs:simpleType>
    			</xs:element>
  
            </xs:sequence>
          </xs:complexType>
  
  
        		 <xs:complexType name="SMSAttributesSetType">
            <xs:sequence>
 
    					<xs:element name="ApproximateNumberOfMessages" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
    					</xs:element>

    					
    					<xs:element name="MonthlySpendLimit" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    					<xs:element name="DeliveryStatusIAMRole" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    					<xs:element name="DeliveryStatusSuccessSamplingRate" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true">
    					</xs:element>
    					<xs:element name="DefaultSenderID" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    					<xs:element name="DefaultSMSType" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    					<xs:element name="UsageReportS3Bucket" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    
  
            </xs:sequence>
          </xs:complexType>
  
  
  <xs:element name="SMSAttributes" type="tns:SMSAttributesType"/>
   <xs:element name="SMSAttributesSet" type="tns:SMSAttributesSetType"/>
          <xs:element name="GetSMSAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Attributes" type="tns:SMSAttributesType">
    
    		
    		</xs:element>
  
    	</xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="GetSMSAttributesResponse">
    <xs:complexType>
      <xs:sequence>
 
                <xs:element name="getSMSAttributesResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ApproximateNumberOfMessages" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xs:element type="xs:string" name="MonthlySpendLimit" minOccurs="0" maxOccurs="1" nillable="true"/>
                     <xs:element type="xs:string" name="DeliveryStatusIAMRole" minOccurs="0" maxOccurs="1" nillable="true"/>
                     <xs:element type="xs:string" name="DeliveryStatusSuccessSamplingRate" minOccurs="0" maxOccurs="1" nillable="true"/>
                     <xs:element type="xs:string" name="DefaultSenderID" minOccurs="0" maxOccurs="1" nillable="true"/>
                     <xs:element type="xs:string" name="DefaultSMSType" minOccurs="0" maxOccurs="1" nillable="true"/>
                     <xs:element type="xs:string" name="UsageReportS3Bucket" minOccurs="0" maxOccurs="1" nillable="true"/>
  
                    </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
 
     <xs:element name="GetSubscriptionAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="SubscriptionArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  
   <xs:element name="GetSubscriptionAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getSubscriptionAttributesResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributes">
<xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:long" name="Owner"/>
                    <xs:element type="xs:string" name="RawMessageDelivery"/>
                    <xs:element type="xs:string" name="TopicArn"/>
                    <xs:element type="xs:string" name="Endpoint"/>
                    <xs:element type="xs:string" name="Protocol"/>
                    <xs:element type="xs:string" name="ConfirmationWasAuthenticated"/>
                    <xs:element type="xs:string" name="SubscriptionArn"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
       <xs:element name="GetTopicAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  
    <xs:element name="GetTopicAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getTopicAttributesResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="attributes">
                <xs:complexType>
                         <xs:sequence>
                          <xs:element name="Policy" type="xs:string"/>
                          <xs:element name="Owner" type="xs:string"/>
                          <xs:element name="SubscriptionsPending" type="xs:string"/>
                          <xs:element name="TopicArn" type="xs:string"/>
                           <xs:element name="EffectiveDeliveryPolicy" type="xs:string"/>
                          <xs:element name="SubscriptionsConfirmed" type="xs:string"/>
                          <xs:element name="DisplayName" type="xs:string"/>
                          <xs:element name="SubscriptionsDeleted" type="xs:string"/>
 
                        </xs:sequence>
              
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
        <xs:element name="ListEndpointsByPlatformApplicationRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="PlatformApplicationArn" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  
  <xs:element name="ListEndpointsByPlatformApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listEndpointsByPlatformApplicationResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="endpoints">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="member">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EndpointArn" type="xs:string"/>
                          <xs:element name="attributes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="key" type="xs:string"/>
                                      <xs:element name="value" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
         <xs:element name="ListPhoneNumbersOptedOutRequest">
     <xs:complexType>  	
    	<xs:sequence>
      		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  
   <xs:element name="ListPhoneNumbersOptedOutResponse">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="listPhoneNumbersOptedOutResult">
     <xs:complexType>
      <xs:sequence>
        <xs:element name="phoneNumbers" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="phoneNumber" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="nextToken" maxOccurs="1" minOccurs="0" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata" minOccurs="0" maxOccurs="1" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
           <xs:element name="ListPlatformApplicationsRequest">
     <xs:complexType>  	
    	<xs:sequence>
      		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>

  <xs:element name="ListPlatformApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listPlatformApplicationsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="platformApplications" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="member">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="platformApplicationArn" type="xs:string"/>
                          <xs:element name="attributes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="entry">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="key" type="xs:string"/>
                                      <xs:element name="value" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
                     <xs:element type="xs:string" name="nextToken" maxOccurs="1" minOccurs="0" nillable="true"/>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


      <xs:element name="ListSubscriptionsRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  

  <xs:element name="ListSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listSubscriptionsResult">
     <xs:complexType>
      <xs:sequence>
        <xs:element name="subscriptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subscriptionArn" nillable="true"/>
              <xs:element type="xs:long" name="owner" nillable="true"/>
              <xs:element type="xs:string" name="protocol" nillable="true"/>
              <xs:element type="xs:string" name="endpoint" nillable="true"/>
              <xs:element type="xs:string" name="topicArn" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="nextToken" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata" minOccurs="0" maxOccurs="1" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



       <xs:element name="ListSubscriptionsByTopicRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 

  <xs:element name="ListSubscriptionsByTopicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listSubscriptionsByTopicResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subscriptions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="subscriptionArn" nillable="true"/>
              <xs:element type="xs:long" name="owner" nillable="true"/>
              <xs:element type="xs:string" name="protocol" nillable="true"/>
              <xs:element type="xs:string" name="endpoint" nillable="true"/>
              <xs:element type="xs:string" name="topicArn" nillable="true"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="nextToken" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>



       <xs:element name="ListTopicsRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="0" name="NextToken" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  

  <xs:element name="ListTopicsResponse">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="responseMetadata" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        <xs:element name="listTopicsResult">
   <xs:complexType>
      <xs:sequence>
        <xs:element name="topics" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="topicArn"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="nextToken" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
       

      </xs:sequence>
    </xs:complexType>
  </xs:element>


      <xs:element name="OptInPhoneNumberRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="PhoneNumber" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 
  

  <xs:element name="OptInPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="optInPhoneNumberResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>

      <xs:element name="PublishRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="Message" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="0" name="MessageAttributes" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="MessageStructure" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="Subject" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="TargetArn" nillable="true" type="xs:string"/>
    		<xs:element maxOccurs="1" minOccurs="0" name="TopicArn" nillable="true" type="xs:string"/>
    	</xs:sequence>
    </xs:complexType>
    </xs:element>

  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="publishResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="messageId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

      <xs:element name="RemovePermissionRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="Label" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 

  <xs:element name="RemovePermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
<xs:element name="removePermissionResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>



         <xs:element name="SetEndpointAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Attributes">
    		 <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="CustomUserData" nillable="true" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="Enabled" nillable="true" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="Token" nillable="true" type="xs:string"/>
  
            </xs:sequence>
          </xs:complexType>
    		
    		</xs:element>
    		<xs:element maxOccurs="1" minOccurs="1" name="EndpointArn" type="xs:string"/>
     
    	</xs:sequence>
    </xs:complexType>
    </xs:element>


  <xs:element name="SetEndpointAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


         <xs:element name="SetPlatformApplicationAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Attributes">
    		 <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="PlatformCredential" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="PlatformPrincipal" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointCreated" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointDeleted" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventEndpointUpdated" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="EventDeliveryFailure" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="SuccessFeedbackRoleArn" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="FailureFeedbackRoleArn" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="SuccessFeedbackSampleRate" type="xs:string"/>
  
            </xs:sequence>
          </xs:complexType>
    		
    		</xs:element>
    		<xs:element maxOccurs="1" minOccurs="1" name="PlatformApplicationArn" type="xs:string"/>
     
    	</xs:sequence>
    </xs:complexType>
    </xs:element>

<xs:element name="SetPlatformApplicationAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
           <xs:element name="SetSMSAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Attributes" type="tns:SMSAttributesSetType">
  		
    		</xs:element>
     
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
  
  <xs:element name="SetSMSAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
         <xs:element name="setSMSAttributesResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  
        <xs:element name="SetSubscriptionAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="AttributeName" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="AttributeValue" type="xs:string"/>
      		<xs:element maxOccurs="1" minOccurs="1" name="SubscriptionArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 

  <xs:element name="SetSubscriptionAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       <xs:element name="setSubscriptionAttributesResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
 
         <xs:element name="SetTopicAttributesRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="AttributeName" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="AttributeValue" type="xs:string"/>
      		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 

  <xs:element name="SetTopicAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="setTopicAttributesResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  
           <xs:element name="SubscribeRequest">
     <xs:complexType>
    	<xs:sequence>
    		<xs:element maxOccurs="1" minOccurs="1" name="Endpoint"
    			type="xs:string" />
    		<xs:element name="Protocol" minOccurs="1" maxOccurs="1">
    			<xs:simpleType>
    				<xs:restriction base="xs:string">
    					<xs:enumeration value="http"></xs:enumeration>
    					<xs:enumeration value="https"></xs:enumeration>
    					<xs:enumeration value="email"></xs:enumeration>
    					<xs:enumeration value="email-json"></xs:enumeration>
    					<xs:enumeration value="sms"></xs:enumeration>
    					<xs:enumeration value="sqs"></xs:enumeration>
    					<xs:enumeration value="application"></xs:enumeration>
    					<xs:enumeration value="lamda"></xs:enumeration>
    				</xs:restriction>
    			</xs:simpleType>
    		</xs:element>
    		<xs:element maxOccurs="1" minOccurs="1" name="TopicArn"
    			type="xs:string" />

    	</xs:sequence>
     </xs:complexType>
    </xs:element>
 

  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="subscribeResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subscriptionArn" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

            <xs:element name="UnsubscribeRequest">
     <xs:complexType>  	
    	<xs:sequence>
      		<xs:element maxOccurs="1" minOccurs="1" name="SubscriptionArn" type="xs:string"/>
 
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
 

  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="responseMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
           
        </xs:element>
        <xs:element name="unsubscribeResult" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

            <xs:element name="InitializeRequest">
     <xs:complexType>  	
    	<xs:sequence>
     		<xs:element maxOccurs="1" minOccurs="1" name="AccessKey" type="xs:string"/>
     		<xs:element maxOccurs="1" minOccurs="1" name="SecretKey" type="xs:string"/>
  
    	</xs:sequence>
    </xs:complexType>
    </xs:element>
    
</xs:schema>
