TIBCO Business Studio-Cloud Edition/Sample for LinkedIn/API_LinkedIn-Glassdoor_md/API_LinkedIn_md/Schemas/ClassdoorJobProg.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="JSON" type="JSONType"/>
  <xs:complexType name="resultsType">
    <xs:sequence>
      <xs:element type="xs:string" name="nextJobTitle" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:double" name="frequency" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:float" name="frequencyPercent" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:double" name="nationalJobCount" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:double" name="medianSalary" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="xs:anyURI" name="attributionURL" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="jobTitle" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="payCurrencyCode" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="payCurrencySymbol" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="payLow" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="payMedian" maxOccurs="1" minOccurs="0"/>
      <xs:element type="xs:string" name="payHigh" maxOccurs="1" minOccurs="0"/>
      <xs:element type="resultsType" name="results" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JSONType">
    <xs:sequence>
      <xs:element type="xs:string" name="success"/>
      <xs:element type="xs:string" name="status"/>
      <xs:element type="xs:string" name="jsessionid"/>
      <xs:element type="responseType" name="response" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>