TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/1/SurveyMonkeyConnector/SurveyMonkeyApiConnector.module/Schemas/Contact_listsParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Contact_lists/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/Contact_lists/parameters">
  <xs:element name="contact_lists1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contact_lists1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contact_lists1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contact_lists1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists4GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="search_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="search" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists4PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists4PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists4DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists5GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists5PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists5PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_lists5DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_list_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contactsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="search_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="search" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contactsPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts-bulkGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts-bulkPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contacts1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_fieldsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_fields1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_field_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_fields1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_field_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_fields1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_field_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="contact_fields1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="contact_field_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
