TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/1/SurveyMonkeyConnector/SurveyMonkeyApiConnector.module/Schemas/SurveyResponseParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/SurveyResponse/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/SurveyResponse/parameters">
  <xs:element name="surveyResponse1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="surveyResponse1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="surveyResponse1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="surveyResponse1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="collector_ids" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="first_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="last_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="ip" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="custom" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_max" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_min" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_units" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponse3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectorsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="first_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="last_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="ip" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="custom" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_max" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_min" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_units" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectorsPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectorsPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectorsDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="collector_ids" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="first_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="last_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="ip" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="custom" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_max" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_min" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_units" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveyResponseCollectors3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="collector_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
