TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/1/SurveyMonkeyConnector/SurveyMonkeyApiConnector.module/Schemas/Survey_categoriesHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Survey_categories/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/Survey_categories/headerParameters">
  <xs:import namespace="http://tns.tibco.com/bw/REST"/>
  <xs:complexType name="survey_templatesGetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="survey_templatesGetHeader" type="tns:survey_templatesGetHeaderType"/>
    <xs:complexType name="surveysGetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveysGetHeader" type="tns:surveysGetHeaderType"/>
    <xs:complexType name="surveysPostHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveysPostHeader" type="tns:surveysPostHeaderType"/>
    <xs:complexType name="surveys1GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys1GetHeader" type="tns:surveys1GetHeaderType"/>
    <xs:complexType name="surveys1PutHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys1PutHeader" type="tns:surveys1PutHeaderType"/>
    <xs:complexType name="surveys1DeleteHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys1DeleteHeader" type="tns:surveys1DeleteHeaderType"/>
    <xs:complexType name="surveys2GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys2GetHeader" type="tns:surveys2GetHeaderType"/>
    <xs:complexType name="surveys3GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys3GetHeader" type="tns:surveys3GetHeaderType"/>
    <xs:complexType name="surveys3PostHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys3PostHeader" type="tns:surveys3PostHeaderType"/>
    <xs:complexType name="surveys4GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys4GetHeader" type="tns:surveys4GetHeaderType"/>
    <xs:complexType name="surveys4PutHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys4PutHeader" type="tns:surveys4PutHeaderType"/>
    <xs:complexType name="surveys4DeleteHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys4DeleteHeader" type="tns:surveys4DeleteHeaderType"/>
    <xs:complexType name="surveys5GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys5GetHeader" type="tns:surveys5GetHeaderType"/>
    <xs:complexType name="surveys5PostHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys5PostHeader" type="tns:surveys5PostHeaderType"/>
    <xs:complexType name="surveys6GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys6GetHeader" type="tns:surveys6GetHeaderType"/>
    <xs:complexType name="surveys6PutHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys6PutHeader" type="tns:surveys6PutHeaderType"/>
    <xs:complexType name="surveys6DeleteHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys6DeleteHeader" type="tns:surveys6DeleteHeaderType"/>
    <xs:complexType name="surveys7GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys7GetHeader" type="tns:surveys7GetHeaderType"/>
    <xs:complexType name="surveys8GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys8GetHeader" type="tns:surveys8GetHeaderType"/>
    <xs:complexType name="surveys8PutHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys8PutHeader" type="tns:surveys8PutHeaderType"/>
    <xs:complexType name="surveys8DeleteHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys8DeleteHeader" type="tns:surveys8DeleteHeaderType"/>
    <xs:complexType name="surveys9GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys9GetHeader" type="tns:surveys9GetHeaderType"/>
    <xs:complexType name="surveys9PostHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys9PostHeader" type="tns:surveys9PostHeaderType"/>
    <xs:complexType name="surveys10GetHeaderType">
    <xs:complexContent>
      <xs:extension base="Q1:httpTransportHeaders">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="OAuth-Key" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
    <xs:element name="surveys10GetHeader" type="tns:surveys10GetHeaderType"/>
</xs:schema>
