TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/1/SurveyMonkeyConnector/SurveyMonkeyApiConnector.module/Schemas/Survey_categoriesParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Survey_categories/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/Survey_categories/parameters">
  <xs:element name="survey_templatesGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="category" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveysGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="include" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_modified_at" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveysPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys4GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys4PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys4PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys4DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys5GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys5PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys5PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys5DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys6GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys6PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys6PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys6DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
         <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys7GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_created_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_modified_at" type="xs:dateTime"/>
        <xs:element maxOccurs="1" minOccurs="0" name="status" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="first_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="last_name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="ip" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="custom" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_max" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_min" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="total_time_units" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys7PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys7PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys7DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys8GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys8PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys8PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys8DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="response_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys9GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="per_page" type="xs:integer"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_by" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="sort_order" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="start_date" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="end_date" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys9PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys9PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys9DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys10GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="api_key" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="percentile_start" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="0" name="percentile_end" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys10PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys10PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="surveys10DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="survey_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="page_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="question_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
