TIBCO Business Studio-Cloud Edition/Sample for Stripe/v1/StripeBilling/Schemas/callStripeSubscriptionReqSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="id"/>
        <xs:element type="xs:string" name="apikey"/>
        <xs:element type="xs:string" name="secret"/>
        <xs:element type="xs:byte" name="rate_limit_ceiling"/>
        <xs:element type="xs:string" name="rate_limit_exempt"/>
        <xs:element type="xs:byte" name="qps_limit_ceiling"/>
        <xs:element type="xs:string" name="qps_limit_exempt"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element type="xs:dateTime" name="created"/>
        <xs:element type="xs:dateTime" name="updated"/>
        <xs:element name="limits">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="period"/>
                    <xs:element type="xs:string" name="source"/>
                    <xs:element type="xs:string" name="ceiling"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="object_type"/>
        <xs:element name="member">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="address1"/>
              <xs:element type="xs:string" name="address2"/>
              <xs:element type="xs:string" name="area_status"/>
              <xs:element type="xs:string" name="blog"/>
              <xs:element type="xs:string" name="company"/>
              <xs:element type="xs:string" name="country_code"/>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:string" name="display_name"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="external_id"/>
              <xs:element type="xs:string" name="first_name"/>
              <xs:element type="xs:string" name="im"/>
              <xs:element type="xs:string" name="imsvc"/>
              <xs:element type="xs:string" name="last_name"/>
              <xs:element type="xs:string" name="locality"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="postal_code"/>
              <xs:element type="xs:string" name="region"/>
              <xs:element type="xs:string" name="registration_ipaddr"/>
              <xs:element type="xs:dateTime" name="updated"/>
              <xs:element type="xs:string" name="uri"/>
              <xs:element type="xs:string" name="username"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="application">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ads"/>
              <xs:element type="xs:string" name="ads_system"/>
              <xs:element type="xs:string" name="commercial"/>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:string" name="developer_group_handle"/>
              <xs:element type="xs:string" name="external_id"/>
              <xs:element type="xs:byte" name="group_id"/>
              <xs:element type="xs:string" name="how_did_you_hear"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="is_packaged"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="notes"/>
              <xs:element type="xs:string" name="oauth_redirect_uri"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:string" name="preferred_output"/>
              <xs:element type="xs:string" name="preferred_protocol"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="tags"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:dateTime" name="updated"/>
              <xs:element type="xs:string" name="uri"/>
              <xs:element type="xs:string" name="usage_model"/>
              <xs:element type="xs:string" name="username"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="package">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="is_using_shared_secret"/>
              <xs:element type="xs:string" name="key_adapter"/>
              <xs:element type="xs:byte" name="key_length"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="near_quota_threshold"/>
              <xs:element type="xs:string" name="notify_admin_emails"/>
              <xs:element type="xs:string" name="notify_admin_near_quota"/>
              <xs:element type="xs:string" name="notify_admin_over_quota"/>
              <xs:element type="xs:string" name="notify_admin_over_throttle"/>
              <xs:element type="xs:string" name="notify_admin_period"/>
              <xs:element type="xs:string" name="notify_developer_near_quota"/>
              <xs:element type="xs:string" name="notify_developer_over_quota"/>
              <xs:element type="xs:string" name="notify_developer_over_throttle"/>
              <xs:element type="xs:string" name="notify_developer_period"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:byte" name="shared_secret_length"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:dateTime" name="updated"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="plan">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="is_moderated"/>
              <xs:element type="xs:string" name="is_public"/>
              <xs:element name="limits">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="period"/>
                          <xs:element type="xs:string" name="source"/>
                          <xs:element type="xs:string" name="ceiling"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="notes"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:byte" name="order_max"/>
              <xs:element type="xs:byte" name="order_moderation_threshold"/>
              <xs:element type="xs:byte" name="qps_limit_ceiling"/>
              <xs:element type="xs:string" name="qps_limit_exempt"/>
              <xs:element type="xs:string" name="qps_limit_key_override_allowed"/>
              <xs:element type="xs:string" name="qps_limit_order_override_allowed"/>
              <xs:element type="xs:short" name="rate_limit_ceiling"/>
              <xs:element type="xs:string" name="rate_limit_exempt"/>
              <xs:element type="xs:string" name="rate_limit_key_override_allowed"/>
              <xs:element type="xs:string" name="rate_limit_order_override_allowed"/>
              <xs:element type="xs:string" name="rate_limit_period"/>
              <xs:element type="xs:string" name="response_filter_override_allowed"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:dateTime" name="updated"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>