TIBCO Business Studio-Cloud Edition/Sample for Stripe/v1/StripeBilling/Schemas/JsonplanfetchrespSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="error"/>
        <xs:element type="xs:byte" name="id"/>
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="created"/>
              <xs:element type="xs:string" name="description"/>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="is_moderated"/>
              <xs:element type="xs:string" name="is_public"/>
              <xs:element name="limits">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="ceiling"/>
                          <xs:element type="xs:string" name="period"/>
                          <xs:element type="xs:string" name="source"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="notes"/>
              <xs:element type="xs:string" name="object_type"/>
              <xs:element type="xs:byte" name="order_max"/>
              <xs:element type="xs:byte" name="order_moderation_threshold"/>
              <xs:element type="xs:byte" name="priority"/>
              <xs:element type="xs:byte" name="qps_limit_ceiling"/>
              <xs:element type="xs:string" name="qps_limit_exempt"/>
              <xs:element type="xs:string" name="qps_limit_key_override_allowed"/>
              <xs:element type="xs:string" name="qps_limit_order_override_allowed"/>
              <xs:element type="xs:short" name="rate_limit_ceiling"/>
              <xs:element type="xs:string" name="rate_limit_exempt"/>
              <xs:element type="xs:string" name="rate_limit_key_override_allowed"/>
              <xs:element type="xs:string" name="rate_limit_order_override_allowed"/>
              <xs:element type="xs:string" name="rate_limit_period"/>
              <xs:element type="xs:string" name="response_filter_override_allowed"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:dateTime" name="updated"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>