TIBCO Business Studio-Cloud Edition/Sample for Twilio/1/TwilioConnector/TwilioConnectorShared/Schemas/Usages/Usages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.connector.tibco.com/twilio/usages" xmlns:tns="http://www.connector.tibco.com/twilio/usages" elementFormDefault="qualified">

    <element name="ViewUsageRecordListInput" type="tns:ViewUsageRecordListRequest"></element>

    <complexType name="ViewUsageRecordListRequest">
    	<sequence>
    		<element name="AccountSID" type="string"  nillable="true"></element>
    		<element name="Category" type="string"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    		<element name="StartDate" type="dateTime"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    		<element name="EndDate" type="dateTime"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageRecordListOutput" type="tns:ViewUsageRecordListResponse"></element>

    <complexType name="ViewUsageRecordListResponse">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="first_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="end" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="previous_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page_size" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="start" type="integer"  nillable="true"/>
      <element maxOccurs="unbounded" minOccurs="0" name="usage_records">  
      <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="category" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="description" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_date" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_date" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="count" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="count_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="usage" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="usage_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="all_time" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="today" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="yesterday" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="this_month" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="last_month" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="daily" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="monthly" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="yearly" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>      
      </element>
      <element maxOccurs="1" minOccurs="0" name="next_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page" type="integer"  nillable="true"/>
    </sequence>
  </complexType>
   
    <element name="ViewUsageRecordSubresourceInput" type="tns:ViewUsageRecordSubresourceRequest"></element>

    <complexType name="ViewUsageRecordSubresourceRequest">
    	<sequence>
    		<element name="AccountSid" type="string"  nillable="true" minOccurs="1" maxOccurs="1"></element>
            <element name="Subresource" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="Daily"></enumeration>
    					<enumeration value="Monthly"></enumeration>
    					<enumeration value="Yearly"></enumeration>
    					<enumeration value="AllTime"></enumeration>
    					<enumeration value="Today"></enumeration>
    					<enumeration value="Yesterday"></enumeration>
    					<enumeration value="ThisMonth"></enumeration>
    					<enumeration value="LastMonth"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
            <element name="Category" type="string"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    		<element name="StartDate" type="dateTime"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    		<element name="EndDate" type="dateTime"  nillable="true" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageRecordSubresourceOutput" type="tns:ViewUsageRecordSubresourceResponse"></element>

    <complexType name="ViewUsageRecordSubresourceResponse">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="first_page_uri" type="string"  nillable="true"/>
       <element maxOccurs="1" minOccurs="0" name="end" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="previous_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page_size" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="start" type="integer"  nillable="true"/>
      <element maxOccurs="unbounded" minOccurs="0" name="usage_records">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="category" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="description" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_date" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_date" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="count" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="count_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="usage" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="usage_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="all_time" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="today" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="yesterday" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="this_month" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="last_month" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="daily" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="monthly" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="yearly" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="next_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page" type="integer"  nillable="true"/>     
    </sequence>
  </complexType>
    
    <element name="CreateUsageTriggerInput" type="tns:CreateUsageTriggerRequest"></element>

    <complexType name="CreateUsageTriggerRequest">
    	<sequence>
    		<element name="AccountSid" type="string" minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="UsageCategory" minOccurs="1" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="calls"></enumeration>
    					<enumeration value="sms"></enumeration>
    					<enumeration value="phone numbers"></enumeration>
    					<enumeration value="recordings"></enumeration>
    					<enumeration value="transcriptions"></enumeration>
    					<enumeration value="short codes"></enumeration>
    					<enumeration value="total price"></enumeration>
    					<enumeration value="calls inbound"></enumeration>
    					<enumeration value="inbound local calls"></enumeration>
    					<enumeration value="inbound tollfree calls"></enumeration>
    					<enumeration value="sip calls"></enumeration>
    					<enumeration value="inbound sms"></enumeration>
    					<enumeration value="inbound shortcode sms"></enumeration>
    					<enumeration value="inbound longcode sms"></enumeration>
    					<enumeration value="tollfree numbers"></enumeration>
    					<enumeration value="local numbers"></enumeration>
    					<enumeration value="callerid lookups"></enumeration>
    					<enumeration value="recording storage"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="TriggerValue" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="CallbackUrl" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="FreindlyName" type="string"   minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="Recurring" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="daily"></enumeration>
    					<enumeration value="monthly"></enumeration>
    					<enumeration value="yearly"></enumeration>
    					<enumeration value="all time"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="TriggerBy" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="count"></enumeration>
    					<enumeration value="usage"></enumeration>
    					<enumeration value="price"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="CallbackMethod" minOccurs="0"
    			maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <element name="CreateUsageTriggerOutput" type="tns:CreateUsageTriggerResponse"></element>

    <complexType name="CreateUsageTriggerResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="DeleteUsageTriggerInput" type="tns:DeleteUsageTriggerRequest"></element>

    <complexType name="DeleteUsageTriggerRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="UsageTriggerSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="DeleteUsageTriggerOutput" type="tns:DeleteUsageTriggerResponse"></element>

    <complexType name="DeleteUsageTriggerResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="UpdateUsageTriggerInput" type="tns:UpdateUsageTriggerRequest"></element>

    <complexType name="UpdateUsageTriggerRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="UsageTriggerSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="FriendlyName" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="CallbackUrl" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="CallbackMethod" minOccurs="0"
    			maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <element name="UpdateUsageTriggerOutput" type="tns:UpdateUsageTriggerResponse"></element>

    <complexType name="UpdateUsageTriggerResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageTriggerInput" type="tns:ViewUsageTriggerRequest"></element>

    <complexType name="ViewUsageTriggerRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="UsageTriggerSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageTriggerOutput" type="tns:ViewUsageTriggerResponse"></element>

    <complexType name="ViewUsageTriggerResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageTriggerListInput" type="tns:ViewUsageTriggerListRequest"></element>

    <complexType name="ViewUsageTriggerListRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="Recurring" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="daily"></enumeration>
    					<enumeration value="monthly"></enumeration>
    					<enumeration value="yearly"></enumeration>
    					<enumeration value="all time"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="UsageCategory" type="string"   minOccurs="0"
    			maxOccurs="1">
    		</element>
    		<element name="TriggerBy" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="count"></enumeration>
    					<enumeration value="usage"></enumeration>
    					<enumeration value="price"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>
    
    <element name="ViewUsageTriggerListOutput" type="tns:ViewUsageTriggerListResponse"></element>

    <complexType name="ViewUsageTriggerListResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true"></element>
    	</sequence>
    </complexType>
</schema>