TIBCO Business Studio-Cloud Edition/Sample for SugarCRM/SugarCRMConnector/SugarCRMConnectorSM/Schemas/JSONOutputResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1471659566409" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1471659566409">
  <complexType name="JSONOutputElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="type" type="string"/>
    </sequence>
  </complexType>
  <element name="JSONOutputElement" type="tns:JSONOutputElementType"/>
</schema>
