TIBCO Business Studio-Cloud Edition/Sample for SugarCRM/SugarCRMConnector/SugarCRMConnectorRestAM/Schemas/AccountParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Account/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/Account/parameters">
  <xs:element name="AccountsPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="access_token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="accid" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountsPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-casesGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-casesPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-casesPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-casesDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-contactsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-contactsPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-contactsPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-contactsDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-cases1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-cases1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-cases1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-cases1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-leadsGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-leadsPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-leadsPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-leadsDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-opportunitiesGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-opportunitiesPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-opportunitiesPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="Accounts-link-opportunitiesDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="AccountsDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="accid" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="accountGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="accountPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="accountPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="accountDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account4GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="access_token" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account4PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account4PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="account4DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
