TIBCO Business Studio-Cloud Edition/Sample for LinkedIn/OAuthAccessToken-LinkedinAPIIntegration/LinkedinAPIIntegration/Schemas/GetAuthResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/GetAuthResponse" elementFormDefault="qualified" targetNamespace="http://www.example.org/GetAuthResponse">

    <element name="Redirecturl" type="string"/>

    <complexType name="elements">
    	<sequence>
    		<element name="RedirectUri" type="string"></element>
    	</sequence>
    </complexType>
</schema>
