TIBCO Business Studio-Cloud Edition/Sample for Splunk/AccessSuite/SplunkAPISuite.Access.module/Schemas/adminSAMLParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/adminSAML/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/adminSAML/parameters">
  <xs:element name="admin-SAML-groupsPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="roles" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-groups2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="group_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-idp-metadataGetParameters">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-user-role-mapPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="roles" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-user-role-map1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-user-role-map1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-user-role-map1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="admin-SAML-user-role-map1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="auth-loginPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="cookie" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="username" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authentication-httpauth-tokens1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authentication-httpauth-tokens1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authentication-httpauth-tokens1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authentication-httpauth-tokens1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authentication-providers-SAMLPostForm">
    <xs:complexType>
      <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="0" name="allowSslCompression" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="assertionConsumerServiceUrl" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeAliasMail" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeAliasRealName" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeAliasRole" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeQueryRequestSigned" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeQueryResponseSigned" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeQuerySoapPassword" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeQuerySoapUsername" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="attributeQueryTTL" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="blacklistedAutoMappedRoles" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-rolesPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="capabilities" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="cumulativeRTSrchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="cumulativeSrchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="defaultApp" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_roles" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rtSrchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchDiskQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchFilter" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchIndexesAllowed" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchIndexesDefault" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchTimeWin" type="xs:integer"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-roles1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-roles1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-roles1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-roles1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="authorization-roles-namePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="capabilities" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="cumulativeRTSrchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="cumulativeSrchJobsQuota" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="defaultApp" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_capabilities" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_roles" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_rtSrchJobsQuota" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchDiskQuota" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchFilter" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchIndexesAllowed" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchIndexesDefault" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchJobsQuota" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="imported_srchTimeWin" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rtSrchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchDiskQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchFilter" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchIndexesAllowed" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchIndexesDefault" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchJobsQuota" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="srchTimeWin" type="xs:integer"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwordsPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="password" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="realm" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwords1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwords1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwords1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwords1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="storage-passwords-namePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="password" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
