TIBCO Business Studio-Cloud Edition/Sample for Zendesk/tcizendesk.module/Schemas/search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/search" xmlns:tns="http://www.example.org/search" elementFormDefault="qualified">

    <complexType name="SPsearch">
    	<sequence>
    		<element name="sessionId" type="string"></element>
    		<element name="query" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="search" type="string"></element>

    <element name="SPSearch" type="tns:SPsearch"></element>
</schema>