TIBCO Business Studio-Cloud Edition/Sample for Zendesk/tcizendesk.module/Schemas/tcizendeskservicever1usersParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/tcizendeskservice/ver1/users/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/tcizendeskservice/ver1/users/parameters">
  <xs:element name="tcizendeskservice-ver1-users-listallGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-users-listallPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-users-listallPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-users-listallDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getusersonroleGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="rolename" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getusersonrolePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="rolename" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getusersonrolePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="rolename" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getusersonroleDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="rolename" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronroleGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="role" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronrolePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="role" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronrolePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="role" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronroleDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="role" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailidGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailidPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailidPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailidDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-users-getuseronemailid3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="emailId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
