TIBCO Business Studio-Cloud Edition/Sample for Zendesk/tcizendesk.module/Schemas/tcizendeskservicever1articleParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/tcizendeskservice/ver1/article/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/tcizendeskservice/ver1/article/parameters">
  <xs:element name="tcizendeskservice-ver1-article-createGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-article-createPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-article-createPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-article-createDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-getGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-getPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-getPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-getDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-getAllGetParameters">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-updateGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-updatePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-updatePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-updateDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="articleId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listoncategoryGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listoncategoryPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listoncategoryPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listoncategoryDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonlocalGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonlocalPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonlocalPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonlocalDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="categoryid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsectionGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="sectionid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsectionPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="sectionid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsectionPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="sectionid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsectionDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="sectionid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonuserGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="userid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonuserPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="userid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonuserPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="userid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonuserDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionid" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="userid" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsessionGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsessionPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsessionPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-article-listonsessionDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
