TIBCO Business Studio-Cloud Edition/Sample for Zendesk/tcizendesk.module/Schemas/tcizendeskservicever1ticketsParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/tcizendeskservice/ver1/tickets/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/tcizendeskservice/ver1/tickets/parameters">
  <xs:element name="tcizendeskservice-ver1-tickets-createGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-tickets-createPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-tickets-createPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tcizendeskservice-ver1-tickets-createDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-deleteGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-deletePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-deletePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-deleteDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-assignGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-assignPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-assignPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-assignDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setpriorityGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setpriorityPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setpriorityPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setpriorityDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setstatusGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setstatusPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setstatusPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-setstatusDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-changeGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-changePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-changePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-changeDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-getGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="ticketid" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-getPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-getPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-getDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-updateGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-updatePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-updatePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-updateDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="ticketId" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="tcizendeskservice-ver1-tickets-getallGetParameters">
    <xs:complexType>
      <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="sessionId" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
