TIBCO Business Studio-Cloud Edition/Sample for Microsoft Yammer/Yammer/YammerConnector.module/Schemas/ProcessXSD's/DataParseOutput.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1471773863874" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1471773863874">
  <xsd:complexType name="Output">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Response" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ReqAcceptHeader" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="DataParseOutput" type="tns:Output"/>
</xsd:schema>
