TIBCO Business Studio-Cloud Edition/Sample for Splunk/Search/SplunkAPISuite.Search.module/Schemas/alertsfired_alertsParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/alerts/fired_alerts/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/alerts/fired_alerts/parameters">
  <xs:element name="alerts-fired_alerts1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alerts-fired_alerts1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alerts-fired_alerts1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alerts-fired_alerts1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="alerts-fired_alerts2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="alerts-fired_alerts2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="alerts-fired_alerts2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="alerts-fired_alerts2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="data-commands1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="data-commands1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="data-commands1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="data-commands1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searchesGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="earliest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="latest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="listDefaultActionArgs" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="add_orphan_field" type="xs:boolean"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="earliest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="latest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="listDefaultActionArgs" type="xs:boolean"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-acknowledgeGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-acknowledgePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-acknowledgePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-acknowledgeDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-name-acknowledgePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-dispatchGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-dispatchPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-dispatchPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-dispatchDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-name-dispatchPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="args" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatchAs" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatch" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatch.adhoc_search_level" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatch.now" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="force_dispatch" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="now" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="trigger_actions" type="xs:boolean"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-historyGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-historyPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-historyPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-historyDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="services-saved-searches-rescheduleGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="services-saved-searches-reschedulePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="services-saved-searches-reschedulePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="services-saved-searches-rescheduleDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="services-saved-searches-name-reschedulePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="schedule_time" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-scheduled_timesGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-scheduled_timesPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-scheduled_timesPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-scheduled_timesDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-suppressGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="expiration" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="key" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-suppressPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-suppressPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="saved-searches-suppressDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-namePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="action.email.to" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="action.email" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="1" name="cron_schedule" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="description" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="disabled" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="1" name="is_scheduled" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="next_scheduled_time" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-dispatchGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-dispatchPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-dispatchPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-dispatchDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-name-dispatchPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatch" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="dispatch.now" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="force_dispatch" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="now" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="trigger_actions" type="xs:boolean"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-historyGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-historyPutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-historyPostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-historyDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-rescheduleGetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-reschedulePutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-reschedulePostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-rescheduleDeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="scheduled-views-name-reschedulePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="schedule_time" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobsPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="0" name="auto_cancel" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="auto_finalize_ec" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="auto_pause" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="custom" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="earliest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="enable_lookups" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="exec_mode" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="force_bundle_replication" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="index_earliest" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="index_latest" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="indexedRealtime" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="indexedRealtimeOffset" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="latest_time" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="max_count" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="max_time" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="namespace" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="now" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="reduce_freq" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="reload_macros" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="remote_server_list" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="required_field_list" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="reuse_max_seconds_ago" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rf" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rt_blocking" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rt_indexfilter" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rt_maxblocksecs" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="rt_queue_size" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="1" name="search" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="search_listener" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="search_mode" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="spawn_process" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="status_buckets" type="xs:integer"/>
                <xs:element maxOccurs="1" minOccurs="0" name="sync_bundle_replication" type="xs:boolean"/>
                <xs:element maxOccurs="1" minOccurs="0" name="time_format" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="timeout" type="xs:integer"/>
            </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobs1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="search_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobs1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="search_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobs1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="search_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobs1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="search_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="search-jobs-search_idPostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="1" name="custom" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
