TIBCO Business Studio-Cloud Edition/Sample for Zuora/ZuoraConnector/ZuoraConnector.module/Schemas/ZuoraConnector_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="/T1472150002018Converted/JsonSchema" xmlns:tns="/T1472150002018Converted/JsonSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="createAccount" type="tns:createAccount"/>
    <xs:complexType name="createAccount">
        <xs:sequence>
        	<xs:element minOccurs="0" nillable="true" name="batch" type="xs:string"/>
        	<xs:element minOccurs="0" nillable="true" name="accountNumber" type="xs:string"/>
        	<xs:element name="name" type="xs:string"/>
        	<xs:element name="currency" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="notes" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="billCycleDay" type="xs:int"/>
            <xs:element minOccurs="0" nillable="true" name="autoPay" type="xs:boolean"/>
            <xs:element minOccurs="0" nillable="true" name="crmId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="invoiceTemplateId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="communicationProfileId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="paymentGateway" type="xs:string"/>
			<xs:element minOccurs="0" nillable="true" name="paymentTerm" type="xs:string"/>
			<xs:element minOccurs="0" nillable="true" name="Collector__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="CollectorRegion__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="SourceChannel__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="VAT__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="CustomerGUID__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="OracleCustomer__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="OracleBillToID__c" type="xs:string"/>
            <xs:element name="billToContact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="nickname" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="mobilePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="homePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="personalEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workPhone" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="otherPhoneType" type="xs:string"/>
                       	<xs:element minOccurs="0" nillable="true" name="otherPhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="fax" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address1" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address2" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="county" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="state" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="taxRegion" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="country" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="zipCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" nillable="true" name="soldToContact">
                <xs:complexType>
                    <xs:sequence> 
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="nickname" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="mobilePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="homePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="personalEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workPhone" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="otherPhoneType" type="xs:string"/>
                       	<xs:element minOccurs="0" nillable="true" name="otherPhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="fax" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address1" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address2" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="county" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="state" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="taxRegion" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="country" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="zipCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" nillable="true" name="hpmCreditCardPaymentMethodId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="creditCard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cardType" type="xs:string"/>
                        <xs:element name="cardNumber" type="xs:string"/>
                        <xs:element name="expirationMonth" type="xs:int"/>
                        <xs:element name="expirationYear" type="xs:int"/>
                        <xs:element minOccurs="0" nillable="true" name="securityCode" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="cardHolderInfo">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="cardHolderName" nillable="true" type="xs:string"/>
                                    <xs:element name="addressLine1" type="xs:string"/>
                                    <xs:element minOccurs="0" nillable="true" name="addressLine2" type="xs:string"/>
                                    <xs:element name="city" nillable="true" type="xs:string"/>
                                    <xs:element name="state" nillable="true" type="xs:string"/>
                                    <xs:element name="zipCode" nillable="true" type="xs:string"/>
                                    <xs:element name="country" nillable="true" type="xs:string"/>
                                    <xs:element minOccurs="0" nillable="true" name="phone" type="xs:string"/>
                                    <xs:element minOccurs="0" nillable="true" name="email" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
            <xs:element minOccurs="0" nillable="true" name="subscription">
                <xs:complexType>
                    <xs:sequence>
                    	<xs:element maxOccurs="unbounded" minOccurs="0" name="subscribeToRatePlans">
                            <xs:complexType>
                                <xs:sequence>
                                	<xs:element name="productRatePlanId" type="xs:string"/>
                                	<!-- 
                                	<xs:element minOccurs="0" nillable="true" name="productId" type="xs:string"/>
                                	<xs:element minOccurs="0" nillable="true" name="productName" type="xs:string"/>
                                	<xs:element minOccurs="0" nillable="true" name="productSku" type="xs:string"/>
                                	<xs:element minOccurs="0" nillable="true" name="ratePlanName" type="xs:string"/>
                                	-->
                                    <xs:element maxOccurs="unbounded" minOccurs="0" nillable="true" name="chargeOverrides">
                                   <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="productRatePlanChargeId" type="xs:string"/>
                                                <xs:element name="quantity" type="xs:int"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element> 
                    	<xs:element minOccurs="0" nillable="true" name="subscriptionNumber" type="xs:string"/>
                    	<xs:element name="termType" type="xs:string"/>
                    	<xs:element name="contractEffectiveDate" type="xs:string"/>
                    	<xs:element minOccurs="0" nillable="true" name="serviceActivationDate" type="xs:string"/>
                    	<xs:element minOccurs="0" nillable="true" name="customerAcceptanceDate" type="xs:string"/>
                    	<xs:element minOccurs="0" nillable="true" name="termStartDate" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="initialTerm" type="xs:int"/>
                        <xs:element minOccurs="0" nillable="true" name="autoRenew" type="xs:boolean"/>
                        <xs:element minOccurs="0" nillable="true" name="renewalTerm" type="xs:int"/>
						<xs:element minOccurs="0" nillable="true" name="invoiceCollect" type="xs:boolean"/>
            			<xs:element minOccurs="0" nillable="true" name="invoice" type="xs:boolean"/>
            			<xs:element minOccurs="0" nillable="true" name="collect" type="xs:boolean"/>
            			<xs:element minOccurs="0" nillable="true" name="invoiceSeparately" type="xs:boolean"/>
            			<xs:element minOccurs="0" nillable="true" name="applyCreditBalance" type="xs:boolean"/>
            			<xs:element minOccurs="0" nillable="true" name="invoiceTargetDate" type="xs:string"/>
            			<!-- 
            			xs:element minOccurs="0" nillable="true" name="OpportunityCloseDate_QT" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="OpportunityName_QT" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="QuoteBusinessType_QT" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="QuoteNumber_QT" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="QuoteType_QT" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="CpqBundleJsonId__QT" type="xs:string"/> 
            			-->
            			<xs:element minOccurs="0" nillable="true" name="DealArea__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="ContractingEntity__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="HistoricalBalance__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="SalesOrder__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="Region__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="PONumber__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="CMSContractID__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="SourceChannel__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="LinkedSubscriptionID__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="Department__c" type="xs:string"/>
            			<xs:element minOccurs="0" nillable="true" name="SalesRep__c" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			<xs:element minOccurs="0" nillable="true" name="taxInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" nillable="true" name="companyCode" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="exemptCertificateId" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="exemptCertificateType" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptDescription" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptEffectiveDate" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptExpirationDate" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptIssuingJurisdiction" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptStatus" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="VATId" type="xs:string"/>
                     </xs:sequence>
				</xs:complexType>
			</xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updateAccount" type="tns:updateAccount"/>
    <xs:complexType name="updateAccount">
        <xs:sequence>
        	<xs:element minOccurs="0" nillable="true" name="batch" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="notes" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="autoPay" type="xs:boolean"/>
            <xs:element minOccurs="0" nillable="true" name="crmId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="invoiceTemplateId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="communicationProfileId" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="paymentGateway" type="xs:string"/>
			<xs:element minOccurs="0" nillable="true" name="Collector__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="CollectorRegion__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="SourceChannel__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="VAT__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="CustomerGUID__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="OracleCustomer__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="OracleBillToID__c" type="xs:string"/>
            <xs:element minOccurs="0" nillable="true" name="billToContact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="nickname" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="mobilePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="homePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="personalEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workPhone" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="otherPhoneType" type="xs:string"/>
                       	<xs:element minOccurs="0" nillable="true" name="otherPhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="fax" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address1" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address2" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="county" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="state" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="taxRegion" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="country" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="zipCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" nillable="true" name="soldToContact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="firstName" type="xs:string"/>
                        <xs:element name="lastName" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="nickname" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="mobilePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="homePhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="personalEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workEmail" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="workPhone" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="otherPhoneType" type="xs:string"/>
                       	<xs:element minOccurs="0" nillable="true" name="otherPhone" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="fax" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address1" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="address2" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="city" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="county" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="state" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="taxRegion" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="country" type="xs:string"/>
                        <xs:element minOccurs="0" nillable="true" name="zipCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" nillable="true" name="taxInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" nillable="true" name="companyCode" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="exemptCertificateId" type="xs:string"/>
						<xs:element minOccurs="0" nillable="true" name="exemptCertificateType" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptDescription" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptEffectiveDate" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptExpirationDate" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptIssuingJurisdiction" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="exemptStatus" type="xs:string"/>
			            <xs:element minOccurs="0" nillable="true" name="VATId" type="xs:string"/>
                     </xs:sequence>
				</xs:complexType>
			</xs:element>         
        </xs:sequence>
    </xs:complexType>
</xs:schema>
