TIBCO Business Studio-Cloud Edition/Sample for Dropbox/DropboxConnector/DropboxConnector/Schemas/StartSessionRsResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1471727819045" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1471727819045">
  <complexType name="StartSessionRsElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="session_id" type="string"/>
    </sequence>
  </complexType>
  <element name="StartSessionRsElement" type="tns:StartSessionRsElementType"/>
</schema>
