TIBCO Business Studio-Cloud Edition/Sample for Twilio/1/TwilioConnector/TwilioConnectorShared/Schemas/Voice/Call.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.connector.tibco.com/twilio/voice/call" xmlns:tns="http://www.connector.tibco.com/twilio/voice/call" elementFormDefault="qualified">

    <element name="MakeCallInput" type="tns:MakeCallRequest"></element>

    <element name="MakeCallOutput" type="tns:MakeCallReponse"></element>

    <element name="ViewCallInput" type="tns:ViewCallRequest"></element>

    <element name="ViewCallOutput" type="tns:ViewCallResponse"></element>

    <element name="ViewCallListInput" type="tns:ViewCallListRequest"></element>

    <element name="ViewCallListOutput" type="tns:ViewCallListResponse"></element>

    <element name="ViewCallNotificationListInput" type="tns:ViewCallNotificationListRequest"></element>

    <element name="ViewCallNotificationListOutput" type="tns:ViewCallNotificationListResponse"></element>

    <element name="ViewCallRecordingListInput" type="tns:ViewCallRecordingListRequest"></element>

    <element name="ViewCallRecordingListOutput" type="tns:ViewCallRecordingListResponse"></element>

    <element name="ModifyLiveCallInput" type="tns:ModifyLiveCallRequest"></element>

    <element name="ModifyLiveCallOutput" type="tns:ModifyLiveCallResponse"></element>

    <complexType name="MakeCallRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="To" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<element name="From" type="string"   minOccurs="1"
    			maxOccurs="1">
    		</element>
    		<choice minOccurs="1" maxOccurs="1">
    			<element name="Url" type="string"   minOccurs="0"
    				maxOccurs="1">
    			</element>
    			<element name="ApplicationSid" type="string"  
    				minOccurs="0" maxOccurs="1">
    			</element>
    		</choice>
    		<element name="Method" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="FallbackUrl" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="FallbackMethod" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="StatusCallback" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="StatusCallbackMethod" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="SendDigits" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="IfMachine" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="continue"></enumeration>
    					<enumeration value="hangup"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="Timeout" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="Record" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="false"></enumeration>
    					<enumeration value="true"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="MakeCallReponse">
    	<sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="parent_call_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="phone_number_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="status" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="duration" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="direction" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="answered_by" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="annotation" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="forwarded_from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="group_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="caller_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="notifications" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="recordings" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
    </complexType>

    <complexType name="ModifyLiveCallRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="CallSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="Url" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="Method" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="GET"></enumeration>
    					<enumeration value="POST"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="Status" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="canceled"></enumeration>
    					<enumeration value="completed"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="ModifyLiveCallResponse">
    	<sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="parent_call_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="phone_number_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="status" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="duration" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="direction" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="answered_by" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="annotation" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="forwarded_from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="group_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="caller_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="notifications" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="recordings" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
    </complexType>

    <complexType name="ViewCallRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="CallSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ViewCallResponse">
    	<sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="parent_call_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="phone_number_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="status" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="duration" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="direction" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="answered_by" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="annotation" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="forwarded_from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="group_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="caller_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="notifications" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="recordings" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
    </complexType>

    <complexType name="ViewCallListRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="From" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="To" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="StartTime" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="ParentCallSid" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="Status" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="queued"></enumeration>
    					<enumeration value="ringing"></enumeration>
    					<enumeration value="in progress"></enumeration>
    					<enumeration value="canceled"></enumeration>
    					<enumeration value="completed"></enumeration>
    					<enumeration value="failed"></enumeration>
    					<enumeration value="busy"></enumeration>
    					<enumeration value="no answer"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="ViewCallListResponse">
    	<sequence>
      <element maxOccurs="1" minOccurs="0" name="first_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="end" type="integer"  nillable="true"/>
      <element maxOccurs="unbounded" minOccurs="0" name="calls">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="parent_call_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="to_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="from_formatted" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="phone_number_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="status" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="start_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="end_time" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="duration" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="price_unit" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="direction" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="answered_by" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="annotation" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="api_version" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="forwarded_from" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="group_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="caller_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="subresource_uris">
              <complexType>
                <sequence>
                  <element maxOccurs="1" minOccurs="0" name="notifications" type="string"  nillable="true"/>
                  <element maxOccurs="1" minOccurs="0" name="recordings" type="string"  nillable="true"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="previous_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page_size" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="start" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="next_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page" type="integer"  nillable="true"/>
    </sequence>
    </complexType>

    <complexType name="ViewCallNotificationListRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="CallSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="Log" minOccurs="0" maxOccurs="1">
    			<simpleType>
    				<restriction base="string">
    					<enumeration value="0 - Error"></enumeration>
    					<enumeration value="1 - Warning"></enumeration>
    					<enumeration value="2 - Info"></enumeration>
    					<enumeration value="3 - Debug"></enumeration>
    				</restriction>
    			</simpleType>
    		</element>
    		<element name="MessageDate" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="PageSize" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="Page" type="string"   minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ViewCallNotificationListResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true"></element>
    	</sequence>
    </complexType>

    <complexType name="ViewCallRecordingListRequest">
    	<sequence>
    		<element name="AccountSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="CallSid" type="string"   minOccurs="1" maxOccurs="1"></element>
    		<element name="DateCreated" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="PageSize" type="string"   minOccurs="0" maxOccurs="1"></element>
    		<element name="Page" type="string"   minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ViewCallRecordingListResponse">
    	<sequence>
    		<element name="Response" type="string"  nillable="true"></element>
    	</sequence>
    </complexType>
</schema>