TIBCO Business Studio-Cloud Edition/Sample for Twilio/1/TwilioConnector/TwilioConnectorShared/Schemas/PhoneNumber/AdressSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.connector.tibco.com/twilio/phonenumber/adressschema" elementFormDefault="qualified" targetNamespace="http://www.connector.tibco.com/twilio/phonenumber/adressschema">






    <complexType name="ViewAddressInput">

    	<sequence>
    		<element name="accountsid" type="string"  />
    		<element name="addresssid" type="string" />
    	</sequence>
    </complexType>
    
    <element name="ViewAddressInputSchema" type="tns:ViewAddressInput"/>

    <element name="ViewAddressOutputSchema" type="tns:ViewAddressOutput"/>


    <simpleType name="response">
    	<restriction base="string"/>
    </simpleType>

    <element name="ViewAddressListInputSchema" type="tns:ViewAddressListInput"/>

    <complexType name="ViewAddressListInput">
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="accountsid" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="0" name="PageSize" type="string"  />
    		<element maxOccurs="1" minOccurs="0" name="Page" type="string"  />
    		<element maxOccurs="1" minOccurs="0" name="CustomerName" type="string"  />
    		<element maxOccurs="1" minOccurs="0" name="FriendlyName" type="string"  />
    		<element maxOccurs="1" minOccurs="0" name="IsoCountry" type="string"  />
    	</sequence>
    </complexType>

    <element name="ViewAddressListOutputSchema" type="tns:ViewAddressListOutput"/>

    <element name="AddAddressInputSchema" type="tns:AddAddressInput"/>

    <complexType name="AddAddressInput">
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="accountsid" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="CustomerName" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="Street" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="City" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="Region" type="string" >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="PostalCode" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="1" name="IsoCountry" type="string"  >
    		</element>
    		<element maxOccurs="1" minOccurs="0" name="FriendlyName" type="string"  />
    	</sequence>
    </complexType>

    <element name="AddAddressOutputSchema" type="tns:AddAddressOutput"/>

    <complexType name="UpdateAddressInput">
    
    <sequence>
    	<element maxOccurs="1" minOccurs="1" name="accountsid" type="string"  >
    	</element>
            <element maxOccurs="1" minOccurs="1" name="addresssid" type="string"  />
            <element maxOccurs="1" minOccurs="0" name="FriendlyName" type="string"  >
    	</element>
            <element maxOccurs="1" minOccurs="0" name="CustomerName" type="string"  >
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="Street" type="string"  >
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="City" type="string"  >
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="Region" type="string"  >
    	</element>
    	<element maxOccurs="1" minOccurs="0" name="PostalCode" type="string"  >
    	</element>
    	</sequence>
    </complexType>
    <element name="UpdateAddressInputSchema" type="tns:UpdateAddressInput"/>

    <element name="UpdateAddressOutputSchema" type="tns:UpdateAddressOutput"/>

    <element name="DeleteAddressInputSchema" type="tns:DeleteAddressInput"/>

    <complexType name="DeleteAddressInput">
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="accountsid" type="string"  />
    		<element maxOccurs="1" minOccurs="1" name="addresssid" type="string"  />
    	</sequence>
    </complexType>

    <element name="DeleteAddressOutputSchema" type="tns:response"/>

    <element name="DependentPhoneNumberInputSchema" type="tns:DependentPhoneNumberInput"/>

    <complexType name="DependentPhoneNumberInput">
    	<sequence>
    		<element maxOccurs="1" minOccurs="1" name="accountsid" type="string"  />
    		<element maxOccurs="1" minOccurs="1" name="addresssid" type="string"  />
    	</sequence>
    </complexType>

    <element name="DependentPhoneNumberOutputSchema" type="tns:DependentPhoneNumberOutput"/>

    <complexType name="AddAddressOutput">
    	<sequence>
      <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="friendly_name" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="customer_name" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="street" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="city" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="region" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="postal_code" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="iso_country" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="emergency_enabled" type="boolean"/>
    </sequence>
    </complexType>

    <complexType name="ViewAddressListOutput">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="first_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="end" type="integer"  nillable="true"/>
      <element maxOccurs="unbounded" minOccurs="0" name="addresses">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="friendly_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="customer_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="street" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="city" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="region" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="postal_code" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="iso_country" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="emergency_enabled" type="boolean"/>
          </sequence>
        </complexType>
      </element>
      <element maxOccurs="1" minOccurs="0" name="previous_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page_size" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="start" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="next_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page" type="integer"  nillable="true"/>
    </sequence>
    </complexType>

    <complexType name="ViewAddressOutput">
    <sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="friendly_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="customer_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="street" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="city" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="region" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="postal_code" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="iso_country" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="emergency_enabled" type="boolean"/>
            <element name="elements">
        <complexType>
          <sequence/>
        </complexType>
      </element>
        </sequence>
          </complexType>

    <complexType name="UpdateAddressOutput">
    <sequence>
            <element maxOccurs="1" minOccurs="0" name="sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="account_sid" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="friendly_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="customer_name" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="street" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="city" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="region" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="postal_code" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="iso_country" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_created" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="date_updated" type="string"  nillable="true"/>
            <element maxOccurs="1" minOccurs="0" name="emergency_enabled" type="boolean"/>
          </sequence>
    </complexType>

    <complexType name="DependentPhoneNumberOutput">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="first_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="end" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="previous_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="uri" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page_size" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="start" type="integer"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="next_page_uri" type="string"  nillable="true"/>
      <element maxOccurs="unbounded" minOccurs="0" name="dependent_phone_numbers" type="string"  nillable="true"/>
      <element maxOccurs="1" minOccurs="0" name="page" type="integer"  nillable="true"/>
    </sequence>
    </complexType>
</schema>
