TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/2/SurveyMonkeyConnector.module/Schemas/CreateCollectorAndMessageResult.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.example.com/namespaces/tns/1471524206391" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/namespaces/tns/1471524206391">
  <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="1" minOccurs="1" name="CollectorID" type="xsd:string"/>
        <xsd:element maxOccurs="1" minOccurs="1" name="MessageID" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
