TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/2/SurveyMonkeyConnector.module/Schemas/CreateMessageSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1471519607812" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1471519607812">
  <xsd:complexType name="CreateMessageSchema">
    <xsd:sequence>
      <xsd:element name="MessageResult" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:CreateMessageSchema"/>
</xsd:schema>
