TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/2/SurveyMonkeyConnector.module/Schemas/GenericResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/GenericResult" xmlns:tns="http://www.example.org/GenericResult" elementFormDefault="qualified">

    <complexType name="Result">
    	<sequence>
    		<element name="Success" type="boolean"></element>
    		<element name="Message" type="string"></element>
    		<element name="Id" type="string" minOccurs="0" maxOccurs="1"></element>
    	</sequence>
    </complexType>

    <element name="ResultElement" type="tns:Result"></element>
</schema>