TIBCO Business Studio-Cloud Edition/Sample for SurveyMonkey/2/SurveyMonkeyConnector.module/Schemas/SurveysResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1471332425182" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1471332425182">
  <complexType name="CreateSurvey">
    <sequence>
      <element name="title" type="string"/>
    </sequence>
  </complexType>
  <element name="CreateSurveyElement" type="tns:CreateSurvey"/>
</schema>
