TIBCO Business Studio-Cloud Edition/Sample for Stripe/v2/StripeBilling/Schemas/getPlanDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1468261222391" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1468261222391">
  <complexType name="getPlantype">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="method" type="string"/>
      <element maxOccurs="unbounded" minOccurs="0" name="params" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="id" type="integer"/>
    </sequence>
  </complexType>
  <element name="getPlan" type="tns:getPlantype"/>
</schema>
