TIBCO Business Studio-Cloud Edition/Sample for Stripe/v2/StripeBilling/Schemas/Schema_Invoice_RequestResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1471510559341" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1471510559341">
  <complexType name="Schema_Invoice_RequestElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="method" type="string"/>
      <element maxOccurs="unbounded" minOccurs="0" name="params" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="id" type="integer"/>
    </sequence>
  </complexType>
  <element name="Schema_Invoice_RequestElement" type="tns:Schema_Invoice_RequestElementType"/>
</schema>
