TIBCO Business Studio-Cloud Edition/Sample for IBM Watson Retrieve & Rank/WatsonConnector/RetrieveRank/Schemas/WatsonplatformParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/Watsonplatform/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/Watsonplatform/parameters">
  <xs:element name="watsonplatform-retrieve-and-rank-api-v1-rankers1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="ranker_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="watsonplatform-retrieve-and-rank-api-v1-rankers1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="ranker_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="watsonplatform-retrieve-and-rank-api-v1-rankers1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="ranker_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="watsonplatform-retrieve-and-rank-api-v1-rankers1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="ranker_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters1GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters1PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters1PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters1DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters2GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters2PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters2PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters2DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters3GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters3PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters3PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters3DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters4GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters4PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters4PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters4DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters5GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="config_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters5PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="config_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters5PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="config_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters5DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="config_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters-solr_cluster_id-config-config_namePostForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="1" minOccurs="0" name="filename" type="xs:string"/>
              <xs:element maxOccurs="1" minOccurs="0" name="content" type="xs:base64Binary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters6GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters6PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters6PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters6DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters7GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters7PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters7PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters7DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters8GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters8PutParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters8PostParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <xs:element name="watsonplatform-retrieve-and-rank-api-v1-solr_clusters8DeleteParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="solr_cluster_id" type="xs:string"/>
        <xs:element maxOccurs="1" minOccurs="1" name="collection_name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
