TIBCO Business Studio-Cloud Edition/Sample for Microsoft Yammer/Yammer/YammerConnector.module/Schemas/OperationXSD's/UsersXMLSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="response">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="response" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="type" minOccurs="0"/>
                    <xs:element type="xs:int" name="id" minOccurs="0"/>
                    <xs:element type="xs:short" name="network-id" minOccurs="0"/>
                    <xs:element type="xs:string" name="state" minOccurs="0"/>
                    <xs:element name="guid" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="job-title" minOccurs="0"/>
                    <xs:element name="location" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="significant-other" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="kids-names" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="interests" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="summary" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="expertise" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="full-name" minOccurs="0"/>
                    <xs:element type="xs:dateTime" name="activated-at" minOccurs="0"/>
                    <xs:element type="xs:string" name="auto-activated" minOccurs="0"/>
                    <xs:element type="xs:string" name="show-ask-for-photo" minOccurs="0"/>
                    <xs:element type="xs:string" name="first-name" minOccurs="0"/>
                    <xs:element type="xs:string" name="last-name" minOccurs="0"/>
                    <xs:element type="xs:string" name="network-name" minOccurs="0"/>
                    <xs:element name="network-domains" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="network-domain" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="url" minOccurs="0"/>
                    <xs:element type="xs:string" name="web-url" minOccurs="0"/>
                    <xs:element type="xs:string" name="name" minOccurs="0"/>
                    <xs:element type="xs:string" name="mugshot-url" minOccurs="0"/>
                    <xs:element type="xs:string" name="mugshot-url-template" minOccurs="0"/>
                    <xs:element type="xs:string" name="birth-date" minOccurs="0"/>
                    <xs:element name="birth-date-complete" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="month" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="nil" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="day" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="nil" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="timezone" minOccurs="0"/>
                    <xs:element name="external-urls" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:anyURI" name="external-url" maxOccurs="unbounded" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="admin" minOccurs="0"/>
                    <xs:element type="xs:string" name="verified-admin" minOccurs="0"/>
                    <xs:element type="xs:string" name="supervisor-admin" minOccurs="0"/>
                    <xs:element type="xs:string" name="can-broadcast" minOccurs="0"/>
                    <xs:element name="department" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="nil" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="email" minOccurs="0"/>
                    <xs:element type="xs:string" name="can-create-new-network" minOccurs="0"/>
                    <xs:element type="xs:string" name="can-browse-external-networks" minOccurs="0"/>
                    <xs:element type="xs:string" name="previous-companies" minOccurs="0"/>
                    <xs:element type="xs:string" name="schools" minOccurs="0"/>
                    <xs:element name="contact" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="im" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="provider" minOccurs="0"/>
                                <xs:element type="xs:string" name="username" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="phone-numbers" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="phone-number" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="type" minOccurs="0"/>
                                      <xs:element type="xs:long" name="number" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="email-addresses" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="email-address" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="type" minOccurs="0"/>
                                      <xs:element type="xs:string" name="address" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="has-fake-email" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="stats" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="following" minOccurs="0"/>
                          <xs:element type="xs:byte" name="followers" minOccurs="0"/>
                          <xs:element type="xs:byte" name="updates" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="settings" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="xdr-proxy" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="show-invite-lightbox" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>