TIBCO Business Studio-Cloud Edition/Sample for Microsoft Yammer/Yammer/YammerConnector.module/Schemas/OperationXSD's/UserDetails.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="User">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="UserID" type="xs:integer"/>
							<xs:element minOccurs="0" name="FullName" type="xs:string"/>
							<xs:element minOccurs="0" name="email" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
