TIBCO Business Studio-Cloud Edition/Sample for LinkedIn/linkedInAPI/LinkedIn_md/Schemas/GetAdditionalDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/GetAdditionalDetails" xmlns:tns="http://www.example.org/GetAdditionalDetails" elementFormDefault="qualified">
<element name="GetAdditionDetails">
    <complexType>
      <sequence>
        <element type="string" name="id"/>
        <element type="string" name="numConnections" minOccurs="0" maxOccurs="1"/>
        <element type="string" name="pictureUrl" minOccurs="0" maxOccurs="1"/>
      </sequence>
    </complexType>
  </element>
   

</schema>